name: Deploy HTML Site to GitHub Pages

on:
  push:
    branches:
      - main   # Runs when you push to main branch

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'   # Upload entire project (index.html)

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
